@page "{id}"
@model AdminViewUserModel

<div>
    <div class="p-2 text-center text-2xl font-bold my-2 bg-gray-100 rounded-sm shadow-sm">
        <h1>Administration</h1>
    </div>
</div>
<div>
    <div class="bg-gray-50 shadow-lg border border-sm">
        <div class="p-2 text-center text-xl bg-gray-100 rounded-sm shadow-sm">
            <h1>User Details</h1>
        </div>
        <div class="p-2">
            <form method="post">
                <div asp-validation-summary="All" class="text-red-500"></div>
                <div class="mb-5">
                    <div>
                        <label asp-for="Id"></label>
                    </div>
                    <div>
                        <input disabled name="Id" value="@Model.Id" class="text-black rounded-md w-full border border-indigo-100 p-1 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-200">
                        <input name="Id" type="hidden" value="@Model.Id" />
                    </div>
                </div>
                <div class="mb-5">
                    <div>
                        <label asp-for="UserName"></label>
                    </div>
                    <div>
                        <input disabled name="UserName" value="@Model.UserName" class="text-black rounded-md w-full border border-indigo-100 p-1 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-200">
                    </div>
                </div>
                <div class="mb-5">
                    <div>
                        <label asp-for="Email"></label>
                    </div>
                    <div>
                        <input disabled type="email" name="Email" value="@Model.Email" class="text-black rounded-md w-full border border-indigo-100 p-1 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-200">
                    </div>
                </div>
                <div class="mb-5">
                    <div>
                        <input disabled type="hidden" name="Password" value="@Model.Password" class="text-black rounded-md w-full border border-indigo-100 p-1 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-200">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="mt-5 bg-gray-200 border border-gray-300 rounded-lg shadow-lg  mb-10 flex justify-between">
        <a asp-page="AdminUserList" class="text-center w-full p-2 hover:bg-gray-300">Back To User List</a>
        <a asp-page="AdminEditUser" asp-route-id="@Model.Id" asp-route-mode="edit" class="text-center w-full p-2 bg-yellow-200 hover:bg-yellow-300">Edit User</a>
        <a asp-page="AdminDeleteUser" asp-route-id="@Model.Id" class="text-center w-full p-2 bg-red-200 hover:bg-red-300">Delete User</a>
    </div>
</div>

@functions {
    public class AdminViewUserModel: AdminPageModel
    {
        // Field Entities
        public UserManager<IdentityUser> UserManager;

        [BindProperty]
        [Required]
        public string Id {get; set;}

        [BindProperty]
        [Required]
        [Display(Name="User Name")]
        public string UserName {get; set;}


        [BindProperty]
        [Required]
        [EmailAddress]
        public string Email {get; set;}


        [BindProperty]
        [Display(Name="New Password")]
        public string Password {get; set;}


        // Constructor
        public AdminViewUserModel (UserManager<IdentityUser> userManager)
        {
            UserManager = userManager;
        }

        // Methods
        public async Task OnGetAsync(string id)
        {
            IdentityUser user = await UserManager.FindByIdAsync(id);
            Id = user.Id;
            UserName = user.UserName;
            Email = user.Email;
        }
    }
}