@model BudgetTransactionsViewModel

<p>@Model.Budget.Description Transactions</p> 
<div class="grid grid-cols-3 gap-4">
    <p>Income Item</p>
    <p>Date</p>
    <p>Amount</p>
</div>

@foreach(IncomeItem ii in Model.IncomeItems)
{
    <div class="grid grid-cols-3 gap-4">
        <p>@ii.Description</p>
        <p>@ii.TransactionDate.ToString("MMM dd yyyy")</p>
        <p>@ii.Amount</p>
    </div>
}

<div class="grid grid-cols-3 gap-4">
    <p>Expense Item</p>
    <p>Date</p>
    <p>Amount</p>
</div>

@foreach(ExpenseItem ei in Model.ExpenseItems)
{
    <div class="grid grid-cols-3 gap-4">
        <p>@ei.Description</p>
        <p>@ei.TransactionDate.ToString("MMM dd yyyy")</p>
        <p>@ei.Amount</p>
    </div>
}