@model IQueryable<Budget>

<div class="shadow-2xl pt-2 pb-5 rounded-sm bg-gray-50 text-black">
    <div class="m-2 shadow-lg rounded-sm font-bold text-gray-900 text-4xl flex justify-center py-4 bg-gray-200">
        <h1>Your Budget List</h1>
    </div>
    <div class="m-2 shadow-lg hover:bg-gray-400 rounded-sm font-bold text-gray-900 text-xl flex justify-center bg-gray-300">
        <a class="text-center py-2 w-full h-full" asp-controller="Budget" asp-action="Create">Create Budget</a>
    </div>
    <div class="grid gap-3 auto-rows-auto grid-cols-1 md:grid-cols-3">
    @foreach (Budget b in Model)
    {
        <div class="p-3 grid m-2 rounded-sm -mb-2 bg-gray-100 shadow-lg border-gray-100 hover:border-gray-300 border-2">
            <div class="flex flex-col justify-between">
                <div class="flex-1">
                    <div class="flex">
                        <a asp-controller="Budget" asp-action="Details" asp-route-id="@b.BudgetId" class="text-xl text-gray-900 font-bold">@b.Description</a>
                    </div>
                    <div class="mb-2">
                        <a asp-controller="Budget" asp-action="Edit" asp-route-id="@b.BudgetId" class="mr-1 text-yellow-500 hover:text-yellow-700">Edit</a>
                        <a asp-controller="Budget" asp-action="Delete" asp-route-id="@b.BudgetId" class="text-red-500 hover:text-red-700">Delete</a>
                    </div>
                </div>

                @if (b.IncomeItems.Sum(ii => ii.Amount) - b.ExpenseItems.Sum(ei => ei.Amount) > 0)
                {
                   <div class="flex-1">
                        <h1 class="text-left">Balance:</h1>
                        <p class="text-left text-lg text-green-500 font-bold mb-2"> +@(b.IncomeItems.Sum(ii => ii.Amount) - b.ExpenseItems.Sum(ei => ei.Amount))</p>
                    </div> 
                }
                else if (b.IncomeItems.Sum(ii => ii.Amount) - b.ExpenseItems.Sum(ei => ei.Amount) == 0)
                {
                    <div class="flex-1">
                        <h1 class="text-left">Balance:</h1>
                        <p class="text-left text-lg text-black font-bold mb-2"> @(b.IncomeItems.Sum(ii => ii.Amount) - b.ExpenseItems.Sum(ei => ei.Amount))</p>
                    </div> 
                }
                else
                {
                    <div class="flex-1">
                        <h1 class="text-left">Balance:</h1>
                        <p class="text-left text-lg text-red-500 font-bold mb-2"> +@(b.IncomeItems.Sum(ii => ii.Amount) - b.ExpenseItems.Sum(ei => ei.Amount))</p>
                    </div> 
                }
                <div class="flex-1">
                    <h1 class="text-left">Expenses:</h1>
                    <p class="text-left font-bold text-lg mb-2"> @b.ExpenseItems.Sum(ei => ei.Amount)</p>
                </div>
                <div class="flex-1">
                    <h1 class="text-left">Income:</h1>
                    <p class="text-left text-lg font-bold mb-2">@b.IncomeItems.Sum(ii => ii.Amount)</p>
                </div>
            </div>
            <div class="-mx-3 -mb-3 grid bg-gray-300 shadow-md hover:bg-gray-400 text-center">
                <a asp-controller="Budget" asp-action="BudgetBreakdown" asp-route-id="@b.BudgetId" class="h-full p-3">See @b.Description Breakdown</a>
            </div>
        </div>
        
    }
    </div>
</div>



