@model IQueryable<Budget>

<div>
    <h1 class="text-white">Here is your budget list!</h1>
</div>

<div class="grid grid-cols-4 gap-4 text-white">
    <div><h1>Budget</h1></div>
    <div><h1>Income</h1></div>
    <div><h1>Expense</h1></div>
    <div><h1>Available</h1></div>
</div>

<a asp-controller="Budget" asp-action="Create">Create Budget</a>

<div class="grid grid-cols-4 gap-4 text-white">
    @foreach (Budget b in Model)
    {
        <div>
            <a asp-controller="Budget" asp-action="BudgetBreakdown" asp-route-id="@b.BudgetId">@b.Description</a>
            <a asp-controller="Budget" asp-action="Edit" asp-route-id="@b.BudgetId">Edit</a>
            <a asp-controller="Budget" asp-action="Delete" asp-route-id="@b.BudgetId">Delete</a>
            <p>From: @b.StartDate.ToString("MMM dd yyyy")</p>
            <p>To: @b.EndDate.ToString("MMM dd yyyy")</p>
        </div>
        <div>
            <h1>@b.IncomeItems.Sum(ii => ii.Amount)</h1>
        </div>
        <div>
            <h1>@b.ExpenseItems.Sum(ei => ei.Amount)</h1>
        </div>
        <div>
            <h1>@(b.IncomeItems.Sum(ii => ii.Amount) - b.ExpenseItems.Sum(ei => ei.Amount))</h1>
        </div>
    }
</div>



